@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.91;
  z-index: -1;
}

section,
nav,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0px;
}

/*  Iogo & Navbar */

.navbar {
  justify-content: space-between;
}

.logo-container {
  position: relative;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(to right, red, purple);
}

/* Logo Animation Shink and grow */
.logo.grow {
  animation: scale_up 3s linear forwards;
}

@keyframes scale_up {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.logo.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

/* ************************************** */

.logo::after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: #0f0f0f;
  opacity: 0.95;
  transform: rotate(0deg);
  transition: transform 3s ease-in;
}

.logo-container span {
  position: absolute;
  font-size: 3.5rem;
  font-weight: 100;
  left: 24px;
  top: -5px;
  transform: rotate(-15deg);
  transition: transform 2s ease-in;
  background-image: linear-gradient(to top, red, rgb(240, 207, 243));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.logo-container h3 {
  margin-left: 8px;
  font-size: 2.2em;
}

.links ul {
  justify-content: space-between;
  padding: 5px;
}
.links ul li {
  margin: 0px 5px 0px 10px;
}
.links ul a {
  font-size: 1.3em;
  font-weight: 400;
  color: white;
  padding: 5px;
}

.links ul a:hover {
  border-bottom: 2px solid red;
}
.links ul a:active {
  outline: none;
}

/************ Intro Section  *****************/

.intro {
  margin-top: 7%;
  justify-content: space-between;
}
.intro .section-left {
  transform: translateY(-45px);
  top: 0;
  margin-left: 81px;
}
.intro .section-left h1 {
  line-height: 110%;
  font-size: 5em;
  letter-spacing: 0;
  letter-spacing: 3px;
}

.intro .section-left p {
  margin-top: 10px;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.intro img {
  transform: translateY(-45px);
  width: 300px;
}

/* Project Section */
.projects {
  justify-content: space-between;
  transform: translateY(-40px);
}

.projects .section-left {
  margin-left: 6%;
  margin-top: 4%;
}

.section-left img {
  width: 350px;
}

.projects .section-right h1 {
  line-height: 110%;
  font-size: 2.8em;
  letter-spacing: 0;
  letter-spacing: 3px;
}

.projects .section-right p {
  font-size: 1.2em;
  margin: 2% 0;
}
.btn {
  font-size: 1.6em;
  padding: 8px 25px 8px 25px;
  background: linear-gradient(to left, red, purple);
  border-radius: 50px;
  color: white;
  display: inline-block;
}

.btn:hover {
  transform: scale(0.98);
}

/* About ME Section */

.about-me {
  padding: 0 6%;
  justify-content: space-between;
}
.about-me .right img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-me .left h3 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 2px;
}
.about-me .left > p {
  font-size: 1.1em;
}
.right {
  position: relative;
}
.bg-circle {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: linear-gradient(to bottom, red, purple);
  opacity: 0.9;
}

.right img {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* *********************************Footer  Section***************************/
.f-upper-part {
  color: white;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5%;
  padding: 4% 6%;
}
.f-upper-part .line {
  place-self: center;
  flex: 2;
  height: 3px;
  background: linear-gradient(to right, purple, red);
  /* margin-bottom: 19px; */
  border-radius: 5px;
  display: inline-block;
}
.f-upper-part span {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0% 0% 5% 0%;
  letter-spacing: 2px;
  border: 2px solid #e4400f;
  border-radius: 120px;
  padding: 10px;
}
.social-links {
  background: linear-gradient(to right, purple, red);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.social-links ul {
  padding: 10px;
  background-color: black;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;
}
.social-links ul li {
  padding: 0 10px;
}
.social-links ul li a {
  display: inline-block;
  color: white;
}
.social-links ul li a:hover {
  transform: translateY(-15%);
  transition: transform 0.1s ease;
}

.f-lower-part {
  justify-content: space-evenly;
}
.copyright h4 {
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 200;
}

.nav-links a {
  font-size: 1.5em;
  margin-left: 10px;
  padding: 4px 15px;
  background: linear-gradient(to left, red, purple);
  border-radius: 25px;
  display: inline-block;
}

.nav-links a:hover {
  transform: scale(0.92);
}

/* Hiding Cross and Hamburger */
.fas.hidden {
  display: none;
}

/**************************** Media Query At 950px **********************/
@media (max-width: 980px) {
  .navbar,
  .projects,
  .intro,
  .about-me,
  .logo-container {
    flex-direction: column;
  }
  .navbar {
    /* padding-left: 40px; */
    margin-bottom: 4em;
  }
  .logo-container {
    text-align: center;
  }
  .logo-container h3 {
    font-size: 2em;
    display: inline-block;
    text-align: center;
  }

  .logo-container span {
    left: 125px;
  }

  .logo-container .links {
    margin: 5px 00px 20px 60px;
    /* top left bottom right */
  }
  .links ul li a {
    font-size: 1.3em;
  }
  .intro {
    margin-top: 50px;
    border-bottom: 2px solid purple;
  }

  .intro .section-left h1 {
    font-size: 3em;
  }
  .intro img {
    height: 250px;
    width: 250px;
    /* transform: translateX(-38px); */
  }
  .projects {
    margin-top: 0px;
    border-bottom: 2px solid purple;
    border-radius: 5px;
    padding-right: 20px;
    transform: translateY(0px);
  }
  .projects .section-right {
    text-align: center;
  }
  .projects .section-right h1 {
    font-size: 2.2em;
  }
  .projects .section-left img {
    height: 250px;
    width: 250px;
  }

  .about-me {
    margin: 60px 0 0px 0;
  }
  .about-me .left {
    text-align: center;
    margin: 0px 0 40px 0;
  }
  .about-me .left h3 {
    font-size: 2.2em;
  }

  .about-me .left > p {
    font-size: 1em;
  }

  .about-me .right .bg-circle {
    width: 180px;
    height: 180px;
  }
  .about-me .right img {
    width: 170px;
    height: 170px;
  }

  .f-upper-part span {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid #e4400f;
    border-radius: 120px;
    padding: 8px;
    margin: 0% 0% 7.5% 0%;
  }

  .f-lower-part .nav-links a {
    font-size: 1.2em;
    padding: 2px 12px;
  }
}
/**************************** Media Query At 615px **********************/
@media (max-width: 615px) {
  .line {
    display: none;
  }
  .f-lower-part .nav-links a {
    font-size: 0.9em;
    margin-left: 5px;
  }
  .btn {
    font-size: 1em;
  }
  .intro img {
    height: 200px;
    width: 200px;
    margin: 0.9em auto 0 auto;
  }

  .projects .section-left img {
    height: 200px;
    width: 200px;
  }
  .about-me .right .bg-circle {
    width: 160px;
    height: 160px;
  }
  .about-me .right img {
    width: 150px;
    height: 150px;
  }
}
/**************************** Media Query At 500px **********************/
@media (max-width: 545px) {
  .logo {
    width: 60px;
    height: 60px;
  }
  .logo::after {
    top: 2px;
    left: 2px;
    width: 56px;
    height: 56px;
  }
  .logo-container span {
    left: 127px;
    top: -10px;
    font-size: 3.4em;
  }
  .links ul li a {
    font-size: 1.1em;
  }
  .links ul li {
    margin: 0px 3px 0 0;
  }
  .f-upper-part {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links a {
    margin-bottom: 8px;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .logo::after {
    top: 2px;
    left: 2px;
    width: 46px;
    height: 46px;
  }
  .logo-container span {
    position: absolute;
    left: 4.5%;
    top: -4.8px;
    font-size: 2.5em;
  }
  .logo-container {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo-container h3 {
    font-size: 1.2em;
    text-align: center;
  }

  /* Showing and Hiding Menu Bar   */
  .navbar {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar.card {
    border-radius: 0;
  }
  .links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transform: translateX(-100%);
  }
  .links.show {
    transform: translate(0%);
    transition: transform 1s ease-in-out;
  }
  .links.hide {
    transform: translate(-100%);
    transition: transform 1s ease-in-out;
  }
  /* ********************************** */
  .links ul {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .links ul li {
    width: 100%;
    border-bottom: 2px solid red;
  }
  .links ul a:hover {
    border-bottom: none;
  }
  .cross {
    position: absolute;
    top: 12px;
    right: 17px;
  }
  .logo-container:after {
    content: "";
  }
  .intro .section-left h1 {
    font-size: 2.2em;
  }
  .intro .section-left p {
    font-size: 1em;
    text-align: start;
  }
  .projects .section-right h1 {
    font-size: 1.8em;
  }
  .projects .section-right p {
    font-size: 1em;
  }
  .projects .section-right a {
    padding: 4px 6px 4px 6px;
    font-size: 1em;
  }
  .about-me .left h3 {
    font-size: 1.7em;
  }
  .about-me .right .bg-circle {
    width: 140px;
    height: 140px;
  }
  .about-me .right img {
    width: 130px;
    height: 130px;
  }
  .menu:hover,
  .cross:hover {
    cursor: pointer;
  }
}
