{
  "parser": "@typescript-eslint/parser",

  "plugins": ["@typescript-eslint"],

  "extends": ["airbnb", "airbnb-typescript", "plugin:prettier/recommended"],

  "env": {
    "browser": true
  },

  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },

  "rules": {
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  },

  "ignorePatterns": "webpack",

  "settings": {
    "react": {
      "version": "17.0.2"
    }
  }
}
